table {
  background-color: $white;
  border-collapse: collapse;
  line-height: 1.5;
  width: 100%;
  border: 1px solid $mid-grey;
  margin-bottom: 1.5rem;
}

thead {

  tr {
    border-bottom: 1px solid $mid-grey;
    text-align: left;
  }

  th {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5rem 0.75rem;

  }

}

tbody {

  tr {
    border-bottom: 1px solid $mid-grey;
  }

  td {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }

}