<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/76.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/180.png" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

  <div id="documentation_layout">
    <header id="documentation_layout__header">
      {% include 'shared/header.njk' %}
    </header>
    <nav id="documentation_layout__navigation">
      {% include 'shared/nav.njk' %}
    </nav>
    <main id="documentation_layout__body">
      <div class="editor">
        {{ content | safe }}
      </div>
    </main>
    <footer id="documentation_layout__footer">
      {% include 'shared/footer.njk' %}
    </footer>
  </div>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>
</html>