<div class="site_footer">
  <ul>
    <li><a target="_blank" href="https://studiolift.com">Studio Lift</a></li>
    <li><a href="mailto: post@studiolift.com">Contact</a></li>
    <li><a target="_blank" href="{{ github.url }}">View on GitHub</a></li>
  </ul>
</div>