<div class="navigation">
  <h2>Guides</h2>
  <ul>
    {%- for item in nav.items -%}
      <li class="nav-item {% if item.url == page.url %} nav-item--active {% endif %}">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <ul class="sub_navigation">
          {%- for sub in item.subnav -%}
            <li class="nav-item {% if sub.url == page.url %} nav-item--active {% endif %}">
              <a href="{{ sub.url }}">{{ sub.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</div>

