.navigation {
  position: sticky;
  top: 1rem;

  @include media('<=640px') {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $black;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 1.5rem;
    max-width: 300px;
    z-index: 99999;
    transition: ease 0.5s left;
    color: $white;
  }

  .nav-item {
    font-weight: 500;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    position: relative;
  }

  .nav-item:last-child {
    margin-bottom: 0;
  }

  .nav-item a {
    padding: 0.125rem 0.375rem;
  }

  .nav-item a:hover,
  .nav-item a:focus {
    text-decoration: none;
    background-color: lighten($mid-grey, 5%);

    @include media('<=640px') {
      color: $white;
      background-color: lighten($black, 10%);
    }

  }

  .nav-item--active > a {
    font-weight: 700;
    background-color: $mid-grey;
    padding: 0.125rem 0.375rem;

    @include media('<=640px') {
      color: $black;
      background-color: $theme-color;
    }

  }

}

.navigation--active {

  @include media('<=640px') {
    left: 0;
  }

}

.sub_navigation {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;

  .nav-item {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    position: relative;
  }

}

.navigation_toggle {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $theme-color;

  @include media('>=640px') {
    display: none;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 2px;
    background-color: $black;
  }

  span:before,
  span:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0.75rem;
    height: 2px;
    background-color: $black;
  }

  span:after {
    top: 4px;
  }

}

.navigation_toggle--active {
  background-color: $black;

  span {
    background-color: $theme-color;
  }

  span:before,
  span:after {
    background-color: $theme-color;
  }

}