$light-grey: rgba(251, 251, 251, 1);
$mid-grey: rgba(225, 225, 225, 1);
$black: rgba(22, 22, 22, 1);
$white: rgba(255, 255, 255, 1);
$theme-color: rgba(255, 184, 12, 1);
$theme-color-2: rgba(88, 68, 255, 1);
$warning: rgb(207, 90, 74);

$sans: 'Noto Sans', sans-serif;
$serif: 'Noto Serif', serif;